<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="IAMailID" value="is@innovatussystems.com"/>
    <add key="IAPassword" value="admin123#"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="Database" value="SQL"/>
    <add key="DateFormat" value="dd/MM/yyyy"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="5001"/>
    <!--ORIS LOCAL-->
    <!-- <add key="constring" value="Data Source=VRP\SQLEXPRESS;Initial Catalog=CovaiSoft;Trusted_Connection=true;" />-->
    <!--ORIS TEST-->
  
    <!--<add key="constring" value="data source=111.118.188.128,1433;initial catalog=CovaiSoft;persist security info=True;packet size=4096;user id=cpc;password=C0va!C@re34&amp;"/>-->
     <!--Covai Property-->
    <add key="constring" value="data source=.\SQLEXPRESS;initial catalog=covaisoft;persist security info=True;packet size=4096;user id=cpcsmart;password=QlCp(@sd2Ge("/>
   <!--<add key="constring" value="data source=111.118.188.128,1433;initial catalog=COVAIS3;persist security info=True;packet size=4096;user id=cpc;password=C0vaipr0p"/>-->
    <!--ORIS CPC-->
    <!--<add key="constring" value="Data Source=111.118.188.128,1433;Initial Catalog=ORIS_CPC;Persist Security Info=True;User ID=cpc;Password=C0vaipr0p"/> -->
    
    <!--ORIS VSL-->
    <!--<add key="constring" value="data source=111.118.188.128,1433;initial catalog=ORIS_VSL;persist security info=True;packet size=4096;user id=orisvsl;password=Oris@vsl"/>-->
    <!--ORIS HEL-->
    <!--<add key="constring" value="data source=111.118.188.128,1433;initial catalog=ORIS_HEL;persist security info=True;packet size=4096;user id=orishel;password=Oris@Hel"/>-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <connectionStrings>
    <!--ORIS LOCAL-->
    <!--  <add name="CovaiSoft" connectionString="Data Source=VRP\SQLEXPRESS;Initial Catalog=CovaiSoft;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!--ORIS CPC-->
    <!--<add name="CovaiSoft" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=ORIS_CPC;Persist Security Info=True;User ID=cpc;Password=C0vaipr0p" providerName="System.Data.SqlClient"/>-->
    
    <!--ORIS TEST-->
    <!--<add name="GCConnectionString" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=CovaiSoft;User ID=cpc;Password=C0va!C@re34&amp;" providerName="System.Data.SqlClient"/>

    <add name="CovaiSoft" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=CovaiSoft;Persist Security Info=True;User ID=cpc;Password=C0va!C@re34&amp;" providerName="System.Data.SqlClient"/>
    <add name="PayGate" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=CovaiSoft;Persist Security Info=True;User ID=cpc;Password=C0va!C@re34&amp;" providerName="System.Data.SqlClient"/>-->
    
    
    
     <!--<add name="GCConnectionString" connectionString="Data Source=LAPTOP-3IOPN4C1\SQLEXPRESS;Initial Catalog=CovaiSoft;Integrated Security=True"  providerName="System.Data.SqlClient" />
     <add name="CovaiSoft" connectionString="Data Source=LAPTOP-3IOPN4C1\SQLEXPRESS;Initial Catalog=CovaiSoft;Integrated Security=True"  providerName="System.Data.SqlClient"/>
     <add name="PayGate" connectionString="Data Source=LAPTOP-3IOPN4C1\SQLEXPRESS;Initial Catalog=CovaiSoft;Integrated Security=True"  providerName="System.Data.SqlClient"/>-->
    
    
    
    
    <!--Covai Property-->
    <add name="GCConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CovaiSoft;User ID=cpcsmart;Password=QlCp(@sd2Ge(" providerName="System.Data.SqlClient"/>
     <add name="CovaiSoft" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=covaisoft;Persist Security Info=True;User ID=cpcsmart;Password=QlCp(@sd2Ge(" providerName="System.Data.SqlClient"/>
    
     <add name="PayGate" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=covaisoft;Persist Security Info=True;User ID=cpcsmart;Password=QlCp(@sd2Ge(" providerName="System.Data.SqlClient"/>
    
   <!--<add name="CovaiSoft" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=covaisoft;Persist Security Info=True;User ID=cpc;Password=C0vaipr0p" providerName="System.Data.SqlClient"/>
    
    <add name="PayGate" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=covaisoft;Persist Security Info=True;User ID=cpc;Password=C0vaipr0p" providerName="System.Data.SqlClient"/>-->
    
   
    <!--ORIS VSL-->
    <!--<add name="CovaiSoft" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=ORIS_VSL;Persist Security Info=True;User ID=orisvsl;Password=Oris@vsl" providerName="System.Data.SqlClient"/>
    <add name="PayGate" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=ORIS_VSL;Persist Security Info=True;User ID=orisvsl;Password=Oris@vsl" providerName="System.Data.SqlClient"/>-->
    <!--ORIS HEL-->
    <!--<add name="CovaiSoft" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=ORIS_HEL;Persist Security Info=True;User ID=orishel;Password=Oris@Hel" providerName="System.Data.SqlClient"/>
    <add name="PayGate" connectionString="Data Source=111.118.188.128,1433;Initial Catalog=ORIS_HEL;Persist Security Info=True;User ID=orishel;Password=Oris@Hel" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
   
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="100000" maxRequestLength="214748364"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->

   <!-- <sessionState mode="InProc" timeout="600" cookieless="false">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState> -->

   <sessionState mode="InProc" timeout="30" cookieless="false"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=8, IE=9, chrome=1"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule,  System.Web, Version=4.0.0.0, Culture=neutral,  PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="ChartImageHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web,  Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>